.c-block-slip-first__comment-inner span {
    padding: 5px;
}

    .c-block-slip-first__comment-inner span::before {
        content: "";
        position: absolute;
        top: -0.125rem;
        right: 0;
        left: 0;
        margin: auto;
        width: 0.3125rem;
        height: 0.3125rem;
        background: #fff;
        border-radius: 1000px;
    }

.c-block-solution__image {
    padding-top: 15%;
}

    .c-block-solution__image .bg-img {
        width: 64px;
        height: 64px;
    }

    .c-block-solution__image .div-content {
        position: absolute;
        top: 17px;
        right: 0;
        bottom: 0;
        left: 75px;
        margin: auto;
    }
