<!DOCTYPE html>
<html>
<head>
    <title>Dịch vụ đại lý nhập dữ liệu Ururu BPO</title>
    <style>
        .image {
            border: 0;
            max-width: 100%;
            height: auto;
            vertical-align: top
        }

        .strong {
            font-weight: bold;
            font-style: italic;
        }

        .welcome {
            font-size: 12.5pt;
        }

        div {
            padding: 5px;
        }
    </style>
</head>
<body>
    <div>
        <div id="_header">
            <img class="image" src="_path_image" />
        </div>

        <div id="_body">
            <div class="welcome">
                <p>Email này được tự động trả lời cho người thực hiện yêu cầu.</p>
                <p>Nếu bạn không chắc chắn, vui lòng không truy cập URL và loại bỏ email.</p>
            </div>

            <div class="welcome">
                <p>Kính gửi _personname_ </p>
                <p>Cảm ơn bạn rất nhiều vì đã liên hệ với chúng tôi.</p>
                <p>Sau khi kiểm tra, người phụ trách sẽ phản hồi lại bạn ngay.</p>
                <p>Làm ơn đợi xíu.</p>
            </div>

            <div>
                <p>Chi tiết yêu cầu của bạn như sau.</p>
                <p class="strong">‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥</p>
            </div>

            <div>
                <p style="font-size: 12.5pt;" class="strong">[Nội dung yêu cầu]</p>
            </div>

            <div>
                <p class="strong">[Tên công ty]</p>
                <p>_company_</p>
            </div>

            <div>
                <p class="strong">[Chức vụ]</p>
                <p>_department_</p>
            </div>

            <div>
                <p class="strong">[Người liên hệ]</p>
                <p>_personname_</p>
            </div>

            <div>
                <p class="strong">[Điện thoại]</p>
                <p>_phone_</p>
            </div>

            <div>
                <p class="strong">[Email]</p>
                <p>_email_</p>
            </div>

            <div>
                <p class="strong">[File đính kèm]</p>
                <p>_file_</p>
            </div>

            <div>
                <p class="strong">[Nội dụng liên hệ]</p>
                <p>_content_</p>
            </div>
        </div>

        <div id="_footer">
            <p class="strong">‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥ ‥</p>
            <p>Chúng tôi xin lỗi vì sự bất tiện nếu thông tin bạn nhập không đầy đủ.</p>
            <p>Vui lòng liên hệ lại với chúng tôi.</p>
        </div>
    </div>
</body>
</html>